/* remove default margin and padding from body
/* body {
  padding: 0;
  margin: 0;
} */ 

body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }

/* #map,
body,
html {
  height: 100%;
} */

h1 {
  text-align: center;
}


table, td {
  border: 1px solid black;
  text-align: center;
}

th {
  border: 1px solid black;
  text-align: center;
}
